<mat-toolbar 
    class="toolbar"
>
    <img width="70" height="53" src="assets/logo.png" alt="PhishCon" class="logo" />
    <a style="text-decoration: inherit; color: inherit;" routerLink="/events"><span >PhishCon</span></a>
    <span class="toolbar-spacer"></span>

    <button
        mat-flat-button
        color="primary"
        class="text-button"
        style="margin-right: 20px;"
        routerLink="/events/create"
        routerLinkActive="active-link"
    >
        Add event
    </button>
    
    <button
        mat-stroked-button
        color="primary"
        class="text-button"
        mat-button
        (click)="logout()"
    >
        Logout
    </button>
</mat-toolbar>
<router-outlet />