<div class="body-container">
    <h1>Create an Account</h1>
    <h2>Already have an account? <a routerLink="/login">Log in</a></h2>

    <form #registerForm="ngForm" class="login-form" (ngSubmit)="register()">

        <div class="form-row">
            <mat-form-field class="flex-1">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
            </mat-form-field>
    
            <mat-form-field class="flex-1">
                <mat-label>Surname</mat-label>
                <input matInput placeholder="Surname" [(ngModel)]="surname" name="surname" required>
            </mat-form-field>
        </div>
        

        <mat-form-field class="w-100">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
        </mat-form-field>
    
        <mat-form-field class="w-100">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password" required>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" [(ngModel)]="passwordConfirm" name="passwordConfirm" type="password" required>
        </mat-form-field>

        <button mat-raised-button class="w-100" color="primary" type="submit">Register</button>
    </form>
</div>
