<div class="body-container">
    <div class="container">
        <!-- Filters Section -->
        <div class="filters">
            <h1 style="font-size: 24px !important;">Filters</h1>
        
            <!-- Search Box -->
            <div class="filter" style="padding-top: 20px;">
                <div class="w-100 flex-row space-between">
                    <h2 style="font-size: 20px !important;">Search</h2>
                    <button
                        mat-button
                        (click)="clearSearch()"
                    >
                        Clear
                    </button>
                </div>
                
                <p>(Event name, affected brand...)</p>
                <mat-form-field class="filter-input">
                    <mat-label>Search</mat-label>
                    <input [(ngModel)]="search" matInput type="text" placeholder="Search...">
                </mat-form-field>
            </div>
            
        
            <!-- Event Status
            <div class="filter" style="padding-top: 20px;">
                <div class="w-100 flex-row space-between">
                    <h2 style="font-size: 20px !important;">Event Status</h2>
                    <button
                        mat-button
                        (click)="clearEventStatuses()"
                    >
                        Clear
                    </button>
                </div>
                
                
            </div> -->
        
            <!-- Date Selector -->
            <div class="filter" style="padding-top: 20px;">
                <div class="w-100 flex-row space-between">
                    <h2 style="font-size: 20px !important;">Date</h2>
                    <button
                        mat-button
                        (click)="clearDate()"
                    >
                        Clear
                    </button>
                </div>
                <mat-form-field class="filter-input">
                    <mat-label>Date Selector</mat-label>
                    <input [(ngModel)]="date" matInput type="date">
                </mat-form-field>
            </div>

            <button
                mat-flat-button
                class="w-100"
                color="primary"
                (click)="fetchData()"
                style="margin-top: 20px;"
            >
                Apply filters
            </button>
            
        </div>
        
        <!-- Events List -->
        
        <div class="events">
            @if(isLoading) {
                <mat-progress-bar mode="indeterminate" />
            }
            @if(events.length > 0) {
                @for (event of events; track event;) {
                    <app-event-card [event]="event"/>
                }
    
                <mat-paginator #paginator
                  [showFirstLastButtons]="true"
                  [pageSize]="perPage"
                  [pageSizeOptions]="pageSizeOptions"
                  [length]="totalCount"
                  aria-label="Select page">
                </mat-paginator>
            }
            @if(events.length === 0 && !isLoading) {
                <div style="text-align: center;">
                    <h1>No data.</h1>
                </div>
                
            }
            
            
        </div>

        


    </div>
</div>